((# templates/latex_template.tex.j2 #))

((# This template is now self-contained and guarantees a valid preamble. #))
\documentclass{article}
\usepackage[utf8]{inputenc}
\usepackage{graphicx}
\usepackage{amsmath}

((# Use the preserved metadata if it exists, otherwise use defaults. #))
\title{((( preserved.title | default('Refactored Document') ))) }
\author{((( preserved.author | default('Shantanu Misra') ))) }
\date{((( preserved.date | default('\\today') ))) }

\begin{document}
\maketitle

((# --- The rest of the template for rendering nodes remains the same --- #))

((* macro render_nodes(node_level, level) *))
    ...
((* endmacro *))

((( render_nodes(processed_tree, 1) )))

...

\end{document}